<div>
  <form
    [formGroup]="travelForm"
    (ngSubmit)="submit($event)"
  >

    <!-- COUNTRY -->
    <div class="mb-3">

      <label class="form-label">
        Country
      </label>

      <input
        type="text"
        class="form-control"
        formControlName="country"

        [class.is-invalid]="
          submitted &&
          travelForm.get('country')?.invalid
        "
      >
      @if (
        submitted &&
        travelForm.get('country')?.invalid
      ) {

        <div class="text-danger mt-1">

          Country must contain
          at least 2 characters.

        </div>

      }
    </div>

    <!-- CITY -->
    <div class="mb-3">

      <label class="form-label">
        City
      </label>

      <input
        type="text"
        class="form-control"
        formControlName="city"

        [class.is-invalid]="
          submitted &&
          travelForm.get('city')?.invalid
        "
      >
      @if (
        submitted &&
        travelForm.get('city')?.invalid
      ) {

        <div class="text-danger mt-1">

          City must contain
          at least 2 characters.

        </div>

      }
    </div>

    <!-- COST -->
    <div class="mb-3">

      <label class="form-label">
        Cost
      </label>

      <input
        type="number"
        class="form-control"
        formControlName="cost"

        [class.is-invalid]="
          submitted &&
          travelForm.get('cost')?.invalid
        "
      >
      @if (
        submitted &&
        travelForm.get('cost')?.invalid
      ) {

        <div class="text-danger mt-1">

          Cost must be greater than 0.

        </div>

      }
    </div>
    <!-- START DATE -->

    <div class="mb-3">

      <label class="form-label">
        Start Date
      </label>

      <input
        type="datetime-local"
        class="form-control"
        formControlName="startDate"
        [min]="minDate"
      >

    </div>

    <!-- END DATE -->

    <div class="mb-3">

      <label class="form-label">
        End Date
      </label>

      <input
        type="datetime-local"
        class="form-control"
        formControlName="endDate"
        [min]="minDate"
      >
      @if (
        submitted &&
        !validateDates()
      ) {

        <div class="text-danger mt-1">

          End date must be after start date.

        </div>

      }
    </div>

    <div class="d-flex gap-2 mt-3">

    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeDialog()"
    >
      Cancel
    </button>

    @if (editingEvent) {

      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteTrip()"
      >
        Delete
      </button>

    }

    <button
      class="btn btn-primary"
      type="submit"
    >
      Save Trip
    </button>

  </div>

  </form>

</div>